@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes zoomIn {
  from {
    transform: scale();
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-zoomIn {
  animation: zoomIn 5s ease-in-out forwards;
}